<?xml version='1.0' encoding='utf-8'?>
<widget id="com.drasaclone.web" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">

  <name>DrasaClone Web</name>
  <description>WebView for DrasaClone site</description>
  <author href="https://drasaclone.github.io/Web/">DrasaClone</author>

  <!-- Mở trang chính -->
  <content src="https://drasaclone.github.io/Web/" />

  <!-- Cho phép mọi liên kết nội bộ mở trong WebView -->
  <allow-navigation href="https://drasaclone.github.io/Web/*" />

  <!-- Cấp quyền Internet -->
  <access origin="*" />

  <!-- Plugin InAppBrowser (bắt link) và BackgroundMode -->
  <plugin name="cordova-plugin-inappbrowser" spec="^5.0.0" />
  <plugin name="cordova-plugin-background-mode" spec="^0.7.3" />

  <platform name="android">
    <uses-permission android:name="android.permission.INTERNET" />
  </platform>
</widget>
